/* @media screen and (min-width: 400px)
{
    .form-signin{
        position: absolute;
        left: 48%;
        top: 30%;
        transform: translate(-50%,-30%);
    }
} */

.form-signin{
    position: absolute;
    left: 48%;
    top: 30%;
    transform: translate(-50%,-30%);
}
.center-div{
    position: relative;
    /* left: 40%; */
    /* top: 50%; */
    /* transform: translate(-30%,-30%); */
}